<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather_AppV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2066321B1FBCA5B20094AFB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2066322F1FBCA5B20094AFB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2066323A1FBCA5B20094AFB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
